<div class="ui top attached menu inverted">
  <div class="item">
    <i
      class="icon large"
      (click)="onClose()"
      [ngClass]="{ sidebar: !menuStatus, 'close': menuStatus }"
    ></i>
    <img class="ui image small" [src]="logo" />
  </div>
</div>
<div class="ui bottom attached segment pushable">
  <div
    class="ui inverted labeled left inline vertical sidebar menu"
    [ngClass]="{ 'push visible': menuStatus }"
  >
    <a
      class="item"
      (click)="onClose()"
      [routerLink]="['dashboard']"
      routerLinkActive="active"
    >
      <i class="home icon"></i>
      Dashboard
    </a>
    <a
      class="item"
      [routerLink]="['search']"
      routerLinkActive="active"
      (click)="onClose()"
    >
      <i class="search icon"></i>
      Search
    </a>
    <a class="item" (click)="onClose()">
      <i class="block book icon"></i>
      Documentation
    </a>
    <a class="item" (click)="onClose()">
      <i class="calendar icon"></i>
      History
    </a>
  </div>
  <ng-content></ng-content>
</div>
